.navbar{

    display:flex;
    align-items:center;
    gap:16px;

    height:70px;

    padding:0 24px;

    background:white;

    border-bottom:1px solid #eee;
}

.menu-button{

    display:none;

    width:42px;
    height:42px;

    border:none;

    border-radius:10px;

    background:#111;

    color:white;

    font-size:1.5rem;

    cursor:pointer;
}

@media(max-width:900px){

    .menu-button{

        display:flex;
        align-items:center;
        justify-content:center;
    }

}