/* ================================
        NAVBAR
================================ */

.navbar {
    display: flex;
    align-items: center;

    height: 70px;
    padding: 0 32px;

    background: #fff;
    border-bottom: 1px solid #e5e5e5;
}
/* LOGO PANDA */

.navbar-logo {
    width: 150px;
    height: 50px;

    display: block;
    object-fit: contain;
}


/* ================================
        MOBILE
================================ */

@media (max-width: 900px) {

    .navbar {
        height: 64px;
        padding: 0 20px;
    }

    .navbar h2 {
        font-size: 1.15rem;
        font-weight: 600;
    }

}